html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

#game-of-life-quil {
    box-shadow: 3px 3px 5px 6px #ccc;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 1.5em;
    left: 1.5em;
}

.controls button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    padding: 0;
    border: none;
    background-color: inherit;
}

.controls button svg {
    width: 75px;
}
