html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #444;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

button, a, input[type="range"]:hover {
    cursor: pointer;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 1.5em;
    left: 1.5em;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 1.5em;
    right: 1.5em;
}

.links a,button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border: none;
    background-color: inherit;
}

.links a {
    width: 50px;
}

.links button {
    width: 80px;
}

.controls button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    padding: 0;
    border: none;
    background-color: inherit;
}

.controls button svg {
    width: 75px;
}

.controls button, input {
    margin: 0;
    margin-right: 20px;
}

#game-of-life-quil {
    box-shadow: 3px 3px 5px 6px #ccc;
}

#help-overlay {
    display: none;
    background-color: white;
    border: 2px solid black;
    border-radius: 15px;
    padding: 15px;
    padding-top: 20px;
    position: absolute;
    z-index: 5;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 650px;
}

#close-help-overlay {
    background-color: transparent;
    width: 30px;
    position: absolute;
    top: 3px;
    right: 3px;
}
